{
  "presets": [
    "env",
    "flow",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-function-bind",
    [
      "module-resolver", {
        "root": ["./src"]
      }
    ]
  ]
}
