@define-mixin font-face $font-family, $font-name, $weight {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    src: url('fonts/$font-name.eot');
    src: url('fonts/$font-name.eot?#iefix')  format('embedded-opentype'),
         url('fonts/$font-name.woff2')       format('woff2'),
         url('fonts/$font-name.woff')        format('woff'),
         url('fonts/$font-name.ttf')         format('truetype'),
         url('fonts/$font-name.svg#svgfont') format('svg');
  }
}
