:root {
  --color-transparent: rgba(#fff, 0);
  --color-white: #fff;
  --color-white-opaque: rgba(#fff, 0.5);
  --color-black: #000;
  --color-black-opaque: rgba(#000, 0.15);
  --color-background: #181d2e;
  --color-background-gradient: linear-gradient(90deg, #212537, #151928);

  --font-family-default: Hack, Menlo, 'Courier New', monospace;
  --font-weight-regular: 400;
}
