@import 'variables';

.log {
  color: rgba(220, 220, 255, 0.7);
  padding: 7px 5px;
  background: rgba(var(--color-black), 0.1);

  + .log {
    border-top: 1px solid rgba(var(--color-white), 0.05);
  }
}

.status {
  text-transform: uppercase;

  &--ok .status {
    color: var(--color-green);
  }

  &--fail .status {
    color: var(--color-red);
  }

  &--info .status {
    color: var(--color-blue);
  }
}
