@import 'variables.css';
@import 'animations.css';

.controls {
  opacity: 0;
  animation: flicker 2s linear 750ms 1 normal forwards;
}

.buttons {
  overflow: hidden;
}

.buttonWrapper {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 5px;

  &:first-child {
    padding-left: 0;
    padding-right: 3px;
  }

  &:last-child {
    padding-right: 0;
    padding-left: 3px;
  }

  .button {
    width: 100%;
  }
}
