@import 'variables';

.footer {
  line-height: 2;
  color: var(--color-white-opaque);
  background: var(--color-black-opaque);
  padding: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
